/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  padding: 40px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  width: 60%;
  margin: auto;
}

.mat-card-menu {
  background-color: rgb(230, 230, 230);
}

.mat-card-content {
  text-align: center;
}

.menu-btn-container {
  margin-bottom: 8px
}

.menu-btn {
  width: 150px;
}

.mat-card-menu button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
}

